# eclipse
/bin
*.launch
/.settings
/.metadata
/.classpath
/.project

# idea
/out
*.ipr
*.iws
*.iml
/.idea
/classes

# gradle
/.gradle/
/build/

# other
/.vscode/
/eclipse
/run/
/runClient/
/runServer/
.cache
/libs/

/logs/
/out/
/scratch/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
